.container{
    width:350px;
    box-shadow: 0px 0px 5px;
    padding:10px;
    text-align: center;
    margin: 30px;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
}
.btn{
    font-size: 30px;
    width:80px;
    margin:20px ;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 3px black;
}
.btn:hover{
    cursor:pointer;
    box-shadow: 0px 0px 5px black;
}
.count{
    font-size: 35px;
    margin:20px;
}